.DS_Store
Thumbs.db
db.json
debug.log
node_modules/
public/
.deploy/
*.sublime-project
*.sublime-workspace
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
npm-debug.log*
vendor/*

_drafts
trash
